/* src/componentes/Card/estilos.css */
.card {
    background: #F4F2DE;
    border: 2px solid #D7C0AE;
    box-sizing: border-box;
    border-radius: 64px 64px 0px 0px;
    padding: 80px;
    display: flex;
    flex: 1;
    margin-top: -32px;
    justify-content: center;
}
